@charset "UTF-8";

@font-face {
  font-family: Larsseit 1;
  font-display: swap;
  src: url("../fonts/Larsseit (1).woff2") format("woff2"), url("../fonts/Larsseit (1).woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: NoeDisplay;
  font-display: swap;
  src: url("../fonts/NoeDisplay-Bold.woff2") format("woff2"), url("../fonts/NoeDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Larsseit;
  font-display: swap;
  src: url("../fonts/Larsseit-ExtraBold.woff2") format("woff2"), url("../fonts/Larsseit-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Larsseit;
  font-display: swap;
  src: url("../fonts/Larsseit.woff2") format("woff2"), url("../fonts/Larsseit.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Larsseit;
  font-display: swap;
  src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-close:before {
  content: "\e901";
}

._icon-s-facebook:before {
  content: "\e902";
}

._icon-s-twitter:before {
  content: "\e903";
}

._icon-search:before {
  content: "\e904";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Larsseit";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Larsseit";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #41EAD4;
}

.tabs__title {
  width: 100%;
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 110%;
  /* 19.8px */
  letter-spacing: -0.36px;
  padding: 2.1875rem 5.64375rem;
}

.tabs__title._tab-active {
  color: #41EAD4;
  border-bottom: 4px solid #41EAD4;
  overflow: hidden;
}

.tabs__content {
  padding: 0.625rem 0.9375rem;
  margin-top: 1.25rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  position: relative;
  background-color: #011627;
  height: auto;
}

.page__sidepanel {
  position: absolute;
  z-index: 100;
}

.side {
  display: none;
}

.socials {
  display: none;
}

.more-block {
  max-width: 30.625rem;
}

.more-block_mw320 {
  max-width: 20rem;
}

.more-block__title {
  font-family: "NoeDisplay";
  color: #fff;
  font-weight: 700;
  line-height: 110%;
  /* 71.5px */
  letter-spacing: -1.3px;
}

.more-block__text {
  color: #fff;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 150%;
  /* 25.5px */
  letter-spacing: -0.34px;
}

.more-block__text span {
  font-weight: 700;
}

.button {
  padding: 1.1875rem 2.9375rem;
  border-radius: 11.375rem;
  background-color: #00C9E0;
  -webkit-box-shadow: 5px 15px 40px 0 rgba(0, 201, 224, 0.2);
          box-shadow: 5px 15px 40px 0 rgba(0, 201, 224, 0.2);
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.9285714286;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  right: -0.8125rem;
  width: 1.875rem;
  height: 0.125rem;
  background-color: #ffffff;
}

.button_fz14 {
  font-size: 0.875rem;
  padding: 1.375rem 2.8125rem;
}

.header {
  color: #FFF;
  text-align: center;
  font-family: "Noe Display";
  font-weight: 700;
  line-height: 110%;
  /* 79.2px */
  letter-spacing: -1.44px;
}

.subheader {
  margin-top: 1.875rem;
  color: #FFF;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 150%;
  /* 36px */
  letter-spacing: 3.6px;
}

.header {
  padding-top: 4.8125rem;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__logo {
  text-align: center;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-right: 0.9375rem;
}

.header__search {
  font-size: 1.5rem;
  color: #fff;
}

.header__button {
  padding: 1.25rem 3.625rem;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  background: #011627;
}

.footer__container {
  padding: 0rem 2.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 61% 39%;
  grid-template-columns: 61% 39%;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
}

.item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.875rem;
}

.item-footer__title {
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
}

.item-footer__title::before {
  content: "";
  position: absolute;
  top: 2.625rem;
  left: 0;
  width: 3.5rem;
  height: 0.0625rem;
  background-color: #41EAD4;
}

.item-footer__title::after {
  content: "";
  position: absolute;
  width: 0.375rem;
  height: 0.375rem;
  top: 2.5rem;
  right: 22%;
  background-color: transparent;
  border: 1.5px solid #41EAD4;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.item-footer__title_right55::after {
  right: 55%;
}

.item-footer__title_right40::after {
  right: 40%;
}

.item-footer__link {
  padding-bottom: 1.25rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: normal;
}

.item-footer__link a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column-align: end;
      justify-self: end;
  row-gap: 2.9375rem;
}

.social__title {
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
}

.social__title::before {
  content: "";
  position: absolute;
  top: 2.625rem;
  left: 0;
  width: 3.5rem;
  height: 0.0625rem;
  background-color: #41EAD4;
}

.social__title::after {
  content: "";
  position: absolute;
  width: 0.375rem;
  height: 0.375rem;
  top: 2.5rem;
  right: 42%;
  background-color: transparent;
  border: 1.5px solid #41EAD4;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.social__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
  font-size: 1.5rem;
  color: #41EAD4;
}

.copyr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyr__all {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.6666666667;
}

.copyr__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyr__logo img {
  width: 3.75rem;
  height: 1.875rem;
}

.no-webp .night-trips{
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, rgba(0, 0, 0, 0.75)), color-stop(11%, rgba(0, 0, 0, 0.64)), color-stop(27%, rgba(0, 0, 0, 0.34)), color-stop(45%, rgba(0, 0, 0, 0)), color-stop(67%, rgba(0, 0, 0, 0))), url("../img/background_01.jpg") center/cover no-repeat; }

.no-webp .night-trips{
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 5%, rgba(0, 0, 0, 0.64) 11%, rgba(0, 0, 0, 0.34) 27%, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0) 67%), url("../img/background_01.jpg") center/cover no-repeat; }

.night-trips {
  position: relative;
}

.night-trips__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 9.375rem;
  padding-bottom: 1.875rem;
}

.night-trips__blur {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 50;
  height: 18.75rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 22, 39, 0)), color-stop(76.64%, #011627), to(#011627));
  background: linear-gradient(180deg, rgba(1, 22, 39, 0) 0%, #011627 76.64%, #011627 100%);
}

.text-night-trips {
  text-align: center;
}

.text-night-trips__title {
  color: #FFF;
  font-family: Noe Display;
  font-size: 7.5rem;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: -2.4px;
}

.text-night-trips__title:not(:last-child) {
  margin-bottom: 0.875rem;
}

.text-night-trips__subtitle {
  color: #FFF;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.1125rem;
  text-transform: uppercase;
}

.text-night-trips__text {
  max-width: 40rem;
  color: #FFF;
  text-align: center;
  font-weight: 400;
  line-height: 150%;
}

.pick-trip {
  background: url("../img/lights/vector_1.svg") 0 0 no-repeat, url("../img/lights/vector_2.svg") right 0 no-repeat, url("../img/lights/vector_3.svg") right 130% no-repeat, url("../img/lights/vector_4.svg") right 50% no-repeat, url("../img/lights/vector_5.svg") 0 20% no-repeat;
  padding-top: 0.625rem;
}

.pick-trip__header {
  padding-top: 6.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  text-align: center;
  gap: 1.875rem;
}

.pick-trip__title {
  color: #FFF;
  text-align: center;
  font-family: Noe Display;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  /* 79.2px */
  letter-spacing: -1.44px;
}

.pick-trip__subheader {
  max-width: 21.875rem;
  color: #FFF;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: -0.32px;
}

.cont-tabs__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 7.8125rem;
     -moz-column-gap: 7.8125rem;
          column-gap: 7.8125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 9.375rem;
  margin-bottom: 6.25rem;
}

.cont-tabs__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
}

.cont-tabs__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.cont-tabs__image img {
  width: 100%;
}

.cont-tabs__descr {
  position: absolute;
  top: 40%;
  left: -8%;
  margin-left: 2.1875rem;
}

.cont-tabs__line {
  width: 10.75rem;
  height: 0.125rem;
  background-color: #41EAD4;
  border-radius: 5px;
}

.cont-tabs__line::before {
  content: "";
  position: absolute;
  width: 0.8125rem;
  height: 0.125rem;
  top: 7px;
  left: -3%;
  background-color: #41EAD4;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  border-radius: 5px;
}

.cont-tabs__number {
  position: absolute;
  top: 0.9375rem;
  color: #41EAD4;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 150%;
  /* 36px */
  letter-spacing: 3.6px;
}

.cont-tabs__text {
  max-width: 13.75rem;
  margin-top: 3.5rem;
  color: #FFF;
  font-family: Larsseit;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 150%;
  /* 36px */
  letter-spacing: 3.6px;
}

.about {
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background: url("../img/lights/vector_6.svg") 100% 20% no-repeat;
  z-index: 1;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 4.375rem;
}

.about__media {
  position: relative;
  z-index: 2;
}

.media__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
}

.media__image img {
  width: 100%;
}

.media__dots {
  position: absolute;
  top: 20%;
  right: -9%;
}

.image {
  position: relative;
}

.image img {
  opacity: 0.3;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.image__descr {
  display: none;
  position: absolute;
  padding: 1.625rem 1.1875rem;
  top: 75%;
  left: -3%;
  border-radius: 8px;
  color: #000;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 150%;
  /* 22.5px */
  letter-spacing: 0.75px;
  background: #FFF;
  -webkit-box-shadow: 5px 15px 40px 0px rgba(0, 201, 224, 0.2);
          box-shadow: 5px 15px 40px 0px rgba(0, 201, 224, 0.2);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.image__descr span {
  color: #41EAD4;
}

.thoughts {
  width: 80%;
  margin: 10.9375rem 10%;
  border-radius: 8px;
  background: #011627;
  position: relative;
  z-index: 5;
}

.thoughts::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 0.125rem;
  top: 0;
  left: 47%;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background: #41EAD4;
}

.thoughts__container {
  padding: 0rem 6.25rem;
}

.thoughts__items {
  padding-top: 4.5625rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
  margin: 0 auto;
}

.thoughts__item {
  padding: 4.625rem 4.6875rem 4.6875rem 6.375rem;
  border-radius: 5px;
  background: #02223B;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(0, 201, 224, 0.03);
          box-shadow: 0px 20px 30px 0px rgba(0, 201, 224, 0.03);
}

.item-thoughts__text {
  position: relative;
  color: #FFF;
  font-weight: 300;
  line-height: 190%;
}

.item-thoughts__text span {
  font-weight: 900;
}

.item-thoughts__text::before {
  content: "";
  background: url("../img/thoughts/icon.svg") 0 0 no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -16%;
}

.item-thoughts__human {
  padding-top: 2.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
}

.item-thoughts__name {
  width: 12.5rem;
  color: #FFF;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 170%;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

@media (min-width: 65.625em) {
  .no-webp .about{
    background: url("../img/about/background.png") 50% 15% no-repeat; }
  .about {
    background-size: 137.5rem 193.75rem;
  }
}

@media (min-width: 76.875em) {
  .more-block__title {
    font-size: 4.0625rem;
  }

  .more-block__text {
    padding-top: 2.125rem;
  }

  .more-block__text {
    padding-bottom: 2.8125rem;
  }

  .header {
    font-size: 4.5rem;
  }

  .subheader {
    font-size: 1.5rem;
  }

  .header__links {
    gap: 2rem;
  }

  .copyr {
    padding-top: 4.375rem;
  }

  .copyr {
    padding-bottom: 9.375rem;
  }

  .copyr {
    row-gap: 2.25rem;
  }

  .night-trips {
    padding-bottom: 31.25rem;
  }

  .night-trips__container {
    row-gap: 12rem;
  }

  .text-night-trips__title {
    font-size: 7.5rem;
  }

  .text-night-trips__subtitle {
    font-size: 1.125rem;
  }

  .text-night-trips__subtitle:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .text-night-trips__text {
    font-size: 1.0625rem;
  }

  .pick-trip {
    padding-bottom: 14.0625rem;
  }

  .pick-trip__header {
    margin-bottom: 5.1875rem;
  }

  .pick-trip__title {
    font-size: 4.5rem;
  }

  .cont-tabs__wrapper {
    margin-top: 9.375rem;
  }

  .cont-tabs__wrapper {
    margin-bottom: 6.25rem;
  }

  .about {
    padding-top: 6.25rem;
  }

  .thoughts {
    padding-bottom: 12.5rem;
  }
}

@media (min-width: 75em) {
  .side {
    position: fixed;
    top: 75%;
    left: 9%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    gap: 0.9375rem;
  }

  .side__label {
    color: #FFF;
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 190%;
    /* 28.5px */
    letter-spacing: 0.75px;
  }

  .side__line {
    width: 5rem;
    height: 0.125rem;
    border-radius: 13px;
    background: -webkit-gradient(linear, left top, left bottom, from(#09F4F4), to(#00C9E0));
    background: linear-gradient(180deg, #09F4F4 0%, #00C9E0 100%);
  }

  .socials {
    position: fixed;
    top: 75%;
    left: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .socials__item {
    font-size: 1.5rem;
    color: #41EAD4;
  }

  .socials__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

@media (min-width: 90em) {
  .about__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20rem 1fr;
    grid-template-columns: 20rem 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5.5rem;
  }
}

@media (max-width: 90em) {
  .about {
    background-size: 137.5rem 250rem;
  }
}

@media (max-width: 20em) {
  .more-block__title {
    font-size: 2.5rem;
  }

  .more-block__text {
    padding-top: 0.8125rem;
  }

  .more-block__text {
    padding-bottom: 1.875rem;
  }

  .header {
    font-size: 2.8125rem;
  }

  .subheader {
    font-size: 0.875rem;
  }

  .header__links {
    gap: 0.625rem;
  }

  .copyr {
    padding-top: 2.5rem;
  }

  .copyr {
    padding-bottom: 0.625rem;
  }

  .copyr {
    row-gap: 0.0625rem;
  }

  .night-trips {
    padding-bottom: 9.375rem;
  }

  .night-trips__container {
    row-gap: 5rem;
  }

  .text-night-trips__title {
    font-size: 3.125rem;
  }

  .text-night-trips__subtitle {
    font-size: 0.875rem;
  }

  .text-night-trips__subtitle:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .text-night-trips__text {
    font-size: 0.875rem;
  }

  .pick-trip {
    padding-bottom: 3.125rem;
  }

  .pick-trip__header {
    margin-bottom: 2.5rem;
  }

  .pick-trip__title {
    font-size: 3.125rem;
  }

  .cont-tabs__wrapper {
    margin-top: 4.375rem;
  }

  .cont-tabs__wrapper {
    margin-bottom: 1.875rem;
  }

  .about {
    padding-top: 1.25rem;
  }

  .thoughts {
    padding-bottom: 1.875rem;
  }
}

@media (max-width: 92.5em) {
  .thoughts__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[1];
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
  }
}

@media (max-width: 65.625em) {
  .media__images {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }

  .media__dots {
    display: none;
  }

  .image img {
    opacity: 1;
  }

  .image__descr {
    display: block;
  }
}

@media (max-width: 53.125em) {
  .button_fz14 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .pick-trip__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .cont-tabs__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cont-tabs__media {
    display: none;
  }
}

@media (max-width: 53.75em) {
  .thoughts__container {
    padding: 0rem 0rem;
  }
}

@media (max-width: 47.99875em) {
  .thoughts__item {
    padding: 2.125rem 2.1875rem 2.1875rem 3.25rem;
  }
}

@media (max-width: 37.5em) {
  .thoughts__items {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 36.125em) {
  .media__images {
    grid-template-columns: repeat(auto-fill, 15.625rem);
    row-gap: 1.875rem;
  }
}

@media (max-width: 29.99875em) {
  .button_fz14 {
    font-size: 0.8125rem;
    padding: 1.375rem 1.875rem;
  }

  .header__button {
    padding: 0.875rem 2.1875rem;
  }

  .thoughts::before {
    left: 35%;
  }

  .thoughts__item {
    padding: 0;
  }

  .item-thoughts {
    width: 16.25rem;
  }

  .item-thoughts__text {
    font-size: 0.625rem;
    padding: 0.625rem 0.625rem;
  }

  .item-thoughts__text::before {
    display: none;
  }

  .item-thoughts__human {
    font-size: 0.625rem;
    padding: 0.625rem 0.625rem;
  }

  .item-thoughts__name {
    font-size: 0.625rem;
  }
}

@media (max-width: 22.5em) {
  .button {
    padding: 1.1875rem 2rem;
  }
}

@media (min-width: 20em) and (max-width: 76.875em) {
@supports (font-size: clamp( 2.5rem , 1.9505494505rem  +  2.7472527473vw , 4.0625rem )) {
    .more-block__title {
      font-size: clamp( 2.5rem , 1.9505494505rem  +  2.7472527473vw , 4.0625rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 1.9505494505rem  +  2.7472527473vw , 4.0625rem )) {
    .more-block__title {
      font-size: calc(2.5rem + 1.5625 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 0.8125rem , 0.3509615385rem  +  2.3076923077vw , 2.125rem )) {
    .more-block__text {
      padding-top: clamp( 0.8125rem , 0.3509615385rem  +  2.3076923077vw , 2.125rem );
    }
}

@supports not (padding-top: clamp( 0.8125rem , 0.3509615385rem  +  2.3076923077vw , 2.125rem )) {
    .more-block__text {
      padding-top: calc(0.8125rem + 1.3125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.5453296703rem  +  1.6483516484vw , 2.8125rem )) {
    .more-block__text {
      padding-bottom: clamp( 1.875rem , 1.5453296703rem  +  1.6483516484vw , 2.8125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.5453296703rem  +  1.6483516484vw , 2.8125rem )) {
    .more-block__text {
      padding-bottom: calc(1.875rem + 0.9375 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 2.8125rem , 2.2190934066rem  +  2.967032967vw , 4.5rem )) {
    .header {
      font-size: clamp( 2.8125rem , 2.2190934066rem  +  2.967032967vw , 4.5rem );
    }
}

@supports not (font-size: clamp( 2.8125rem , 2.2190934066rem  +  2.967032967vw , 4.5rem )) {
    .header {
      font-size: calc(2.8125rem + 1.6875 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.6552197802rem  +  1.0989010989vw , 1.5rem )) {
    .subheader {
      font-size: clamp( 0.875rem , 0.6552197802rem  +  1.0989010989vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.6552197802rem  +  1.0989010989vw , 1.5rem )) {
    .subheader {
      font-size: calc(0.875rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 0.625rem , 0.1414835165rem  +  2.4175824176vw , 2rem )) {
    .header__links {
      gap: clamp( 0.625rem , 0.1414835165rem  +  2.4175824176vw , 2rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.1414835165rem  +  2.4175824176vw , 2rem )) {
    .header__links {
      gap: calc(0.625rem + 1.375 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.8406593407rem  +  3.2967032967vw , 4.375rem )) {
    .copyr {
      padding-top: clamp( 2.5rem , 1.8406593407rem  +  3.2967032967vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.8406593407rem  +  3.2967032967vw , 4.375rem )) {
    .copyr {
      padding-top: calc(2.5rem + 1.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 0.625rem , -2.4519230769rem  +  15.3846153846vw , 9.375rem )) {
    .copyr {
      padding-bottom: clamp( 0.625rem , -2.4519230769rem  +  15.3846153846vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , -2.4519230769rem  +  15.3846153846vw , 9.375rem )) {
    .copyr {
      padding-bottom: calc(0.625rem + 8.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (row-gap: clamp( 0.0625rem , -0.7067307692rem  +  3.8461538462vw , 2.25rem )) {
    .copyr {
      row-gap: clamp( 0.0625rem , -0.7067307692rem  +  3.8461538462vw , 2.25rem );
    }
}

@supports not (row-gap: clamp( 0.0625rem , -0.7067307692rem  +  3.8461538462vw , 2.25rem )) {
    .copyr {
      row-gap: calc(0.0625rem + 2.1875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 9.375rem , 1.6826923077rem  +  38.4615384615vw , 31.25rem )) {
    .night-trips {
      padding-bottom: clamp( 9.375rem , 1.6826923077rem  +  38.4615384615vw , 31.25rem );
    }
}

@supports not (padding-bottom: clamp( 9.375rem , 1.6826923077rem  +  38.4615384615vw , 31.25rem )) {
    .night-trips {
      padding-bottom: calc(9.375rem + 21.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (row-gap: clamp( 5rem , 2.5384615385rem  +  12.3076923077vw , 12rem )) {
    .night-trips__container {
      row-gap: clamp( 5rem , 2.5384615385rem  +  12.3076923077vw , 12rem );
    }
}

@supports not (row-gap: clamp( 5rem , 2.5384615385rem  +  12.3076923077vw , 12rem )) {
    .night-trips__container {
      row-gap: calc(5rem + 7 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 3.125rem , 1.5865384615rem  +  7.6923076923vw , 7.5rem )) {
    .text-night-trips__title {
      font-size: clamp( 3.125rem , 1.5865384615rem  +  7.6923076923vw , 7.5rem );
    }
}

@supports not (font-size: clamp( 3.125rem , 1.5865384615rem  +  7.6923076923vw , 7.5rem )) {
    .text-night-trips__title {
      font-size: calc(3.125rem + 4.375 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7870879121rem  +  0.4395604396vw , 1.125rem )) {
    .text-night-trips__subtitle {
      font-size: clamp( 0.875rem , 0.7870879121rem  +  0.4395604396vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7870879121rem  +  0.4395604396vw , 1.125rem )) {
    .text-night-trips__subtitle {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem )) {
    .text-night-trips__subtitle:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem )) {
    .text-night-trips__subtitle:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8090659341rem  +  0.3296703297vw , 1.0625rem )) {
    .text-night-trips__text {
      font-size: clamp( 0.875rem , 0.8090659341rem  +  0.3296703297vw , 1.0625rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8090659341rem  +  0.3296703297vw , 1.0625rem )) {
    .text-night-trips__text {
      font-size: calc(0.875rem + 0.1875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 3.125rem , -0.7211538462rem  +  19.2307692308vw , 14.0625rem )) {
    .pick-trip {
      padding-bottom: clamp( 3.125rem , -0.7211538462rem  +  19.2307692308vw , 14.0625rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , -0.7211538462rem  +  19.2307692308vw , 14.0625rem )) {
    .pick-trip {
      padding-bottom: calc(3.125rem + 10.9375 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.5549450549rem  +  4.7252747253vw , 5.1875rem )) {
    .pick-trip__header {
      margin-bottom: clamp( 2.5rem , 1.5549450549rem  +  4.7252747253vw , 5.1875rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.5549450549rem  +  4.7252747253vw , 5.1875rem )) {
    .pick-trip__header {
      margin-bottom: calc(2.5rem + 2.6875 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 3.125rem , 2.6414835165rem  +  2.4175824176vw , 4.5rem )) {
    .pick-trip__title {
      font-size: clamp( 3.125rem , 2.6414835165rem  +  2.4175824176vw , 4.5rem );
    }
}

@supports not (font-size: clamp( 3.125rem , 2.6414835165rem  +  2.4175824176vw , 4.5rem )) {
    .pick-trip__title {
      font-size: calc(3.125rem + 1.375 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-top: clamp( 4.375rem , 2.6167582418rem  +  8.7912087912vw , 9.375rem )) {
    .cont-tabs__wrapper {
      margin-top: clamp( 4.375rem , 2.6167582418rem  +  8.7912087912vw , 9.375rem );
    }
}

@supports not (margin-top: clamp( 4.375rem , 2.6167582418rem  +  8.7912087912vw , 9.375rem )) {
    .cont-tabs__wrapper {
      margin-top: calc(4.375rem + 5 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem )) {
    .cont-tabs__wrapper {
      margin-bottom: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem )) {
    .cont-tabs__wrapper {
      margin-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.5082417582rem  +  8.7912087912vw , 6.25rem )) {
    .about {
      padding-top: clamp( 1.25rem , -0.5082417582rem  +  8.7912087912vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.5082417582rem  +  8.7912087912vw , 6.25rem )) {
    .about {
      padding-top: calc(1.25rem + 5 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -1.8612637363rem  +  18.6813186813vw , 12.5rem )) {
    .thoughts {
      padding-bottom: clamp( 1.875rem , -1.8612637363rem  +  18.6813186813vw , 12.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -1.8612637363rem  +  18.6813186813vw , 12.5rem )) {
    .thoughts {
      padding-bottom: calc(1.875rem + 10.625 * (100vw - 20rem) / 56.875);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #00e5ff;
    color: #011627;
  }

  .item-footer__link a:hover {
    color: #41EAD4;
  }

  .image img:hover + .image__descr {
    opacity: 1;
    display: block;
  }

  .image img:hover {
    opacity: 1;
  }
}

.webp .night-trips{ background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, rgba(0, 0, 0, 0.75)), color-stop(11%, rgba(0, 0, 0, 0.64)), color-stop(27%, rgba(0, 0, 0, 0.34)), color-stop(45%, rgba(0, 0, 0, 0)), color-stop(67%, rgba(0, 0, 0, 0))), url(../img/background_01.webp) center/cover no-repeat; }

.webp .night-trips{ background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 5%, rgba(0, 0, 0, 0.64) 11%, rgba(0, 0, 0, 0.34) 27%, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0) 67%), url(../img/background_01.webp) center/cover no-repeat; }

@media (min-width: 65.625em){

  .webp .about{ background: url(../img/about/background.webp) 50% 15% no-repeat; }
}